/* Base Parameters */

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --action-font: #fff;
    --font-color: #949393;
    --action-color: #171616;
    --first-color: #2E2C2C;
    --second-color: #585454;    
}

/* Body Style */

body {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 100svh;
    font-family: 'Montserrat', sans-serif;
    background: var(--first-color);
}


/* Nav css */

.navbar-container {
    background: var(--second-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-container-son-1 {
    flex-grow: 8;
    width: 80%;
}

.nav-container-son-2 {
    flex-grow: 1;
}


/* Nav Title */


.navbar-title-container {
    display: flex;
    align-items: center;
}

.navbar-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    color:  #fff;
    text-decoration: none;
}

/* Nav Links */

.nav-links-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.nav-link {
    color: var(--font-color);
    font-size: 0.8rem;
    padding: 5%;
    border-radius: 5px;
    transition: all 1s;
    word-break: keep-all;
}

/* Temporal css */
.nav-link:hover {
    background: var(--action-color);
    color: var(--action-font);
}

/* Nav lang */

.lang-container{
    display: flex;
    align-items: center;
    margin: 20px;
}

.lang-container button {
   padding: 5px;
   border: none;
   background: var(--second-color);
   color: #fff;
}



/* PGM */

section {
    background: var(--first-color);

    margin: 40px 30px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}

.home-grid-son {
    border-radius: 10px;
    background: var(--second-color);
}

/* Money Ammount  */

#home-pgm-son {
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
    color: var(--font-color)
}

.money-title {
    margin: 5px;
    padding: 5px 20px;
    font-weight: 400;   
}

.money-container {
    display: flex;  
    flex-direction: row-reverse;
    padding: 0 20px 10px;
    align-items: center;
}

.money-ammount {
    font-size: 1.5rem;
}



/* Account */

#home-pgm-son-2 {
    grid-area: 1 / 2 / 1 / 2;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    color: var(--font-color);
}

.account-title {
    margin: 5px;
    padding: 5px 20px;
    font-weight: 400;   

}
    
.account-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 80px;
    padding: 10px 20px;
}


.account-desc {
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 0 20px 0 0;
    font-size: 1.5rem;
}





/* Movements */

#home-pgm-son-3 {
    grid-area: 2 / 1 / 6 / 1;

}


/* Register pre-created output income */

#home-pgm-son-4 {
    grid-area: 2 / 2 / 4 / 2;
    color: var(--font-color);
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px
}

#home-pgm-son-4 h2 {
    margin: 5px;
    padding: 5px 20px;
    font-weight: 400;
    
}

.outcome-income {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 1fr;
    padding: 10px 20px;
}


.outcome-desc, .income-desc {
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 0 20px 0 0;
    font-size: 1.1rem;
}

.outcome-pay-btn, .income-send-btn {
    border-radius: 5px;
    color: var(--action-font);
    background-color: var(--action-color);
    margin: 0 10px;
}

.outcome-arrow-btn, .income-arrow-btn, .account-arrow-btn{
    border-radius: 5px;
    color: var(--action-font);
    background: var(--action-color);
}

/* Register movement */

#home-pgm-son-5 {
    grid-area: 4 / 2 / 6 / 2;
    background: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#movement-btn {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background: var(--action-color);
    font-size: 1.3rem;
    padding: 5% 20%;
}


